/* ================== GOOGLE FONTS ===================== */
@import url("/assets/styles/variable.css");

/* ================== SCREEN WIDTH 1152px ===================== */
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 5.5rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1rem;
        --normal-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ================== REUSABLE CSS CLASSES ===================== */
.main {
    overflow: visible;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, .2);
    color: var(--body-color);
    padding: 10px 50px;
    outline: none;
}

/* ================== HEADER ===================== */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: background-color .3s ease-in-out;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-family: (--second-font);
    font-weight: var(--font-semi-bold);
}

.nav__logo>span {
    color: var(--body-color);
}

.nav__btn-back {
    padding: 7px 15px;
    border-radius: 20px;
    background-color: #198754;
    color: var(--body-color);
    border: none;
    transition: background-color .4s ease-in-out;
    cursor: pointer;
}

.nav__btn-back:hover {
    background-color: #187a4c;
}

/* ================== LOGIN ===================== */
.login {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    filter: blur(1.5px);
}

.login__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(transparent, rgba(0,0,0,.2));
}

.login__container {
    position: relative;
}

.login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.login__container-register {
    gap: 20px;
}

.login__register {
    position: relative;
    color: var(--body-color);
    transition: color .4s ease;
}

.login__register:hover {
    color: #1e8d59;
}

.login__register::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #1a9c5f;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    transition: width .4s ease-in-out;
}

.login__register:hover::after {
    width: 100%;
}

.login__container-signin {
    flex-direction: column;
    gap: 15px;
}

.login__subtitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login__box-txt {
    width: 100%;
    position: relative;
}

.login__container-signin>div>i{
    color: #187a4c;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.login__btn-login {
    background-color: #187a4c;
    color: var(--body-color);
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    margin-top: 1rem;
    width: 100%;
    transition: background-color .4s ease-in-out;
}

.login__btn-login:hover {
    background-color: #1e8d59;
}

.login__remember {
    width: 100%;
    justify-content: initial;
    gap: 20px;
    color: var(--body-color);
    padding: 0 5px;
}

.login__forgot-account {
    gap: 20px;
}

.login__recover {
    position: relative;
    color: var(--body-color);
}

.login__recover:hover {
    color: #2bc27c;
}

.login__recover::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #198754;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    transition: width .4s ease-in-out;
}

.login__recover:hover::after {
    width: 100%;
}



